**/target
**/node_modules
.git
.idea
.metals
.bloop
docs/.vitepress

!modules/server/graviton-server/target/
!modules/server/graviton-server/target/scala-3.8.4/
!modules/server/graviton-server/target/scala-3.8.4/graviton-server-*.jar
!deploy/container/data/.keep
